<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div id="insert">
        <h1>Login </h1>
        <hr/>
        <form method="POST">
            {% csrf_token %}
        <table bordet="1">
            <tr>
                <td>Username: </td>
                <td><input type="text"  name="username"> </td>
            </tr>
            <tr>
                <td>password: </td>
                <td><input type="text"  name="password"> </td>
            </tr>
        </table>
        <input type="submit" value="insert" onclick="return ">
        
</div> 

    
</body>
</html>